/*main page styles*/

/*Body Elements*/
body {

background-color: #08080C;

}

.heading {

    padding:10px;
    background-color:#000022;
}


/*Table*/
td {
    color:#000;
    background-color:#FFF;
    padding:5px;
    border: solid 2px pink;
}

/*Button*/
button {
    width:100%;
}